.form {
  margin-top: 60px;

  display: flex;
  align-items: center;

  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #eaeaea;

  font-weight: 600;
}

.input {
  padding: 10px;
  font-weight: inherit;
  outline: none;
}

.btn {
  display: block;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: inherit;
  font-size: 18px;
}
